@import "../../style/color.scss";

.chat {
  border-radius: 10px;
  background-color: $background-color-light;

  .text-area {
    height: 30vh;
    overflow: scroll;

    .words {
      margin: 10px 20px;
      width: 80%;

      .username {
        font-size: small;
      }
      .content {
        padding:10px;
        border-radius: 5px;
        background-color: ghostwhite
      }
    }
  }

  .input-area {
    display: inline-flex; 
    align-items: center; 
    width: 90%;
  }
}