@import "../../style/color.scss";

.meeting-detail {
  background-color: $background-color;
  height: 100vh;

  .title-bar {
    background-color: $primary-color-dark;
    color: $font-color-light;
    padding: 30px;
    position: relative;

    .title {
      font-size: 1.2rem;
    }

    .subcribe {
      position: absolute;
      top: 30px;
      right: 50px;
      background-color: $background-color-light;
      padding: 10px 20px;
      color: $primary-color-dark;
      border-left: $border-color solid 8px;
      border-right: $border-color solid 8px;
    }
    .unable {
      background-color: $background-color-darker;
      color: $background-color-light;
      border-left: $border-color solid 8px;
      border-right: $border-color solid 8px;
    }

    .info {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  .function-bar {
    .tag-bar {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 16px;
      font-size: 1.1rem;
    }

    .selected {
      border-bottom: $primary-color-dark solid 5px;
    }
  }
}