// 主题色 - 海蓝色
$primary-color: #0077cc; // 主色调
$primary-color-light: #4da6ff; // 浅色调
$primary-color-dark: #005c99; // 深色调
$primary-color-contrast-light: #ffcc00; // 对比色 - 浅色调
$primary-color-contrast-dark: #cc0000; // 对比色 - 深色调

// 背景色
$background-color: #f5f5f5; // 背景色
$background-color-light: #ffffff; // 浅背景色
$background-color-dark: #d9d9d9; // 深背景色
$background-color-darker: #b3b3b3; // 更深背景色

// 边框色
$border-color: #e0e0e0; // 边框色

// 阴影色
$shadow-color: rgba(0, 0, 0, 0.1); // 阴影色

// 内容色
$content-color: #333333; // 内容色

// 明色字体色
$font-color-light: #ffffff; // 包装色
