@import "../../../style/color.scss";

.dayView {
  background-color: $background-color;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text {
    font-size: 3rem;
  }
}

.search {
  padding: 0 30px;
}

.meeting {
  margin-top: 20px;
  padding: 10px;
}

.date {
  font-size: 1.2rem;
  border-left: $primary-color-light solid 0.3rem;
  padding-left: 0.5rem;
}

.meeting-details {
  background-color: $background-color-light;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.meeting-image {
  width: 100%;
  display: block;
}

.meeting-title {
  font-size: 36rpx;
  padding: 15px;
}

.meeting-time {
  font-size: 28rpx;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 10rpx;
}

.meeting-location {
  display: flex;
  align-items: center;
  gap: 10rpx;
  font-size: 28rpx;
  padding: 0 15px 10px;
} 